<section class="header">
  <div class="left-section">
    <a href="/arch-portfolio/index.html" class="name-top">JACK FULLER</a>
  </div>
  <div class="right-section">
    <button id="theme-toggle" class="theme-toggle">
      <img src="/arch-portfolio/Icons/moon-solid-full.svg"  class="moon">
      <img src="/arch-portfolio/Icons/sun-solid-full.svg"  class="sun">
    </button>
    <a href="/arch-portfolio/about.html" class="about-button">About</a>
    <a href="/arch-portfolio/contact.html" class="contact-button">Contact</a>
    
  </div>
</section>


